<nav class="navbar navbar-expand-md navbar-dark  bg-dark">

  <div class="container">
    <a class="navbar-brand" href="#">{{ (this.authService.decodedToken?.unique_name | titlecase) || "MyBlog"}}</a>

    <!-- <ng-container *ngIf="!loggedIn(); else elseTemplate">
      <a class="navbar-brand" href="#">MyBlog</a>
    </ng-container>
    <ng-template #elseTemplate>
      <a class="navbar-brand" href="#">{{this.authService.decodedToken?.unique_name}}</a>
    </ng-template> -->
    

  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Topics </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">Musics</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">Games</a>
        </li>
        
        
      </ul>
      <ng-container *ngIf="!loggedIn(); else ele">
        <button class="btn btn-outline-success btn-sm" (click)="loginToggle()" type="button">Login</button>
      </ng-container>
      <ng-template #ele>
        <button class="btn btn-outline-success" (click)="logout()" type="button">Logout</button>
      </ng-template>

  </div>

     
  </nav>