<!-- <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img">
        <img [src]="images[1]" style='height: 100%; width: 100%; object-fit: cover' alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Welcome in, </h3>
        <p>See what you find interesting!</p>
      </div>
    </ng-template>
</ngb-carousel> -->
<header class="masthead" style="background-image: url('assets/img/one.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
              
            <h1>Welcome in</h1>
            <span class="subheading">See what you find interesting!</span>
          </div>
        </div>
      </div>
    </div>
</header>
<div class="container " >
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-intro">
                <a href="example.com">
                    <h2 class="post-title">
                        A short Intro
                    </h2>
                </a>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <h1>Start</h1>
        <div class="text-center">
            <button class="btn btn-primary btn-lg" [routerLink]="['/register']">Register</button>
            <button (click)="runsuccess()" class="btn btn-primary btn-lg">Run Success</button>

        </div>
    </div>

    <div class="container">
        <div class="row justifiy-content-center">
            <div class="col-4"></div>
        </div>
    </div>

    
</div>
