<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img">
        <img [src]="images[1]" style='height: 100%; width: 100%; object-fit: cover' alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h1>Welcome in, </h1>
        <p>See what you find interesting!</p>
      </div>
    </ng-template>
</ngb-carousel>


<!-- <div class="container " >
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-intro">
                <a href="example.com">
                    <h2 class="post-title">
                        A short Intro
                    </h2>
                </a>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <h1>Start</h1>
        <div class="text-center">
            <button class="btn btn-primary btn-lg" [routerLink]="['/register']">Register</button>
            <button (click)="runsuccess()" class="btn btn-primary btn-lg">Run Success</button>

        </div>
    </div>

    <div class="container">
        <div class="row justifiy-content-center">
            <div class="col-4"></div>
        </div>
    </div> 
   
</div> -->

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ng-container *ngFor="let postheader of this.posts">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                {{postheader.title}}
              </h2>
              <h3 class="post-subtitle">
                {{postheader.content.substring(0,30)+'...'}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{postheader.userId}}</a>
              {{postheader.post_time}}</p>
          </div>
          <hr>
        </ng-container>
        

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>

  </div>