<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper img">
        <img [src]="images[0]" style='height: 100%; width: 100%; object-fit: cover' alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Welcome in, </h3>
        <p>See what you find interesting!</p>
      </div>
    </ng-template>
</ngb-carousel>
<div class="container mt-5" >
    
    <div style="text-align: center">
        <h1>Start</h1>
        <div class="text-center">
            <button class="btn btn-primary btn-lg" [routerLink]="['/register']">Register</button>
            <button (click)="runsuccess()" class="btn btn-primary btn-lg">Run Success</button>

        </div>
    </div>

    <div class="container">
        <div class="row justifiy-content-center">
            <div class="col-4"></div>
        </div>
    </div>

    
</div>
